:root {
    --primary-background-color: #023c5f;
    --secondary-background-color: #d8deec;
    --header-footer-background-color: #dadde4;
    --table-background-color: #f2f2f2;
    --primary-text-color: #222d36;
    --secondary-text-color: #36454f;
    --light-text-color: #dcdcdc;
    --strong-shadow-color: rgba(0, 0, 25, 0.3);
    --light-shadow-color: rgba(0, 0, 25, 0.1);
}

/* Footer, Navbar */

footer p,
footer img {
    margin-bottom: 0;
    padding-bottom: 20px;
    color: var(--primary-text-color);
}

.navbar,
footer {
    background-color: var(--header-footer-background-color);
}

.navbar-toggler {
    border: none;
    height: 26px;
    width: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.navbar-toggler span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--primary-text-color);
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#closed span:nth-child(1) {
    top: 0px;
}

#closed span:nth-child(2),
#navbar-toggler span:nth-child(3) {
    top: 13px;
}

#closed span:nth-child(4) {
    top: 26px;
}

#open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
}

#open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Main */

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    margin: 100px 10% 30px 10%;
}

section {
    max-width: 1300px;
    background-color: var(--secondary-background-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

section a {
    width: 50%;
    height: 100%;
}

table {
    width: 95%;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 3rem;
}

th {
    background-color: var(--header-footer-background-color);
    font-variation-settings: "wght" 700;
    text-align: center;
}

tr {
    background-color: var(--table-background-color);
}

table, td, th {
    border: 1px solid black;
}

ol {
    counter-reset: item;
    list-style: none;
    padding-left: 0;
}
  
ol li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    margin-left: 3em;
}

ol li a {
    color: var(--secondary-text-color);
    line-height: 30px;
}

ol li:before {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    left: -20px;
    top: 0;
    background-color: var(--primary-background-color);
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}

section h2:not(:nth-child(1)) {
    padding-top: 5rem;
}

article p {
    margin-left: 28px;
    margin-right: 28px;
    width: 70%;
}

article a p {
    margin-top: 0.5rem;
    color: var(--primary-text-color);
    text-align: center;
    width: 92%;
}

/* Font */

@font-face {
    font-family: 'Montserrat';
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400 750;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px var(--strong-shadow-color);
}

h1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-variation-settings: "wght" 750;
}

h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 28px;
    margin-right: 28px;
    font-size: 36px;
    font-variation-settings: "wght" 650;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-variation-settings: "wght" 420;
}

b {
    font-variation-settings: "wght" 700;
}

code {  
    font-size: 1.2rem;
}

/* Shadow, Hover */

nav,
section,
video,
main img {
    box-shadow: 0 5px 5px 0 var(--light-shadow-color), 0 5px 5px 0 var(--light-shadow-color);
}

.navbar-brand:hover,
#logo:hover,
a:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Media queries */

@media screen and (max-width: 820px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
    }

    video {
        width: 100%;
    }

    section, article {
        flex-wrap: wrap;
    }

    section div {
        width: 100%;
    }

    section ul {
        padding-bottom: 1rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        text-align: center;
        font-size: 2.5em;
    }

    h1,
    h2 {
        margin-left: auto;
        margin-right: auto;
    }

    section a {
        width: 100%;
    }

    main img {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto; 
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    ul {
        padding-left: 5%;
    }

    main ul li {
        font-size: 16px;
    }
    
    article p {
        margin-left: 0px;
        margin-right: 0px;
    }

    tr th:nth-child(1), tr td:nth-child(1) {
        display: none;
    }

    table {
        margin-left: 0px;
        margin-right: 0px;
    }
}