article,
section,
aside,
nav,
header,
footer,
main {
    text-align: center;
    display: block;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

audio {
    width: 800px;
}

form div {
    margin-top: 2em;
}

header {
    font-size: 18pt;
    font-family: Helvetica;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.gombTarolo {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gombTarolo div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gombTarolo div button {
    width: 15%;
    height: 3rem;
}

footer {
    width: 560px;
    font-size: 10pt;
    margin-top: 40px;
    border-top: 3px #888888 double;
    padding-top: 30px;
    text-align: right;
    font-family: Helvetica;
}